name: Build & Test Sudoku

on:
  push:
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      
      - uses: gradle/gradle-build-action@v2
      
      - run: ./gradlew build

      - name: Upload Build Artifact (app.zip)
        uses: actions/upload-artifact@v3
        with:
          name: sudoku-build
          path: app/build/distributions/app.zip

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - run: ./gradlew test
