# This is a basic workflow to help you get started with Actions

name: Build & Test Sudoku

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

    # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
  
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
  
      - uses: gradle/gradle-build-action@v2
  
      - run: ./gradlew build
  
      - name: Upload Build Artifact (app.zip)
        uses: actions/upload-artifact@v3
        with:
          name: sudoku-build
          path: app/build/distributions/app.zip

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
  
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Run Sudoku Tests
        run: ./gradlew test
